body {
  background-color: hsl(180, 52%, 96%);
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  min-width: 253px;
}
.header-div {
  background-color: rgba(80, 151, 151, 0.9);
  height: 157px;

  overflow: hidden;
  margin-bottom: 2.9rem;
}
.header-desktop-div {
  background-color: rgba(80, 151, 151, 0.9);
  height: 157px;
  overflow: hidden;
  margin-bottom: 2rem;
  display: none;
}
.header-mobile-img {
  width: 100%;
  height: 100%;
}
.image {
  width: 40px;
  height: 40px;
}
.flex-container-1 {
  padding: 1rem;
  padding-top: 1.6rem;
  margin: 1rem;
  background-color: white;
  border-left: 4px solid rgb(43, 138, 138);
  border-radius: 5px;
  margin-bottom: 2.8rem;
  position: relative;
}
.flex-container {
  padding: 1rem;
  padding-top: 1.6rem;
  margin: 1rem;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 2.8rem;
  position: relative;
}
.photosnap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}
.button-div {
  display: flex;
  gap: 9px;
}
.button-1 {
  font-size: 12px;
  border-radius: 12px;
  background-color: rgb(53, 169, 169);
  color: white;
  padding: 3px 7px;
  padding-top: 5px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
.button-2 {
  font-size: 12px;
  border-radius: 20px;
  background-color: hsl(180, 14%, 20%);
  color: white;
  padding: 3px 7px;
  padding-top: 5px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
h2 {
  font-size: 13px;
  color: rgb(53, 169, 169);
  font-weight: 700;
  cursor: pointer;
}
h3 {
  font-size: 13px;
  margin: 0.7rem 0;
  font-weight: 700;
  cursor: pointer;
}
h4 {
  font-size: 13px;
  color: hsl(240, 1%, 50%);
}
.empty-div {
  border: 1px solid hsl(240, 2%, 79%);
  margin: 1rem 0;
}
.flex-button {
  display: flex;
  gap: 1rem;
  margin: 0rem 0 1rem 0;
}
.button-3 {
  font-size: 13px;
  border: none;
  border-radius: 3px;
  background-color: hsl(180, 52%, 96%);
  color: rgb(53, 169, 169);
  font-weight: 700;
  padding: 6px;
  cursor: pointer;
}
.absolute-div-2 {
  position: absolute;
  bottom: 210px;
}
.absolute-div {
  position: absolute;
  bottom: 203px;
}
.button-3:hover {
  background-color: rgb(53, 169, 169);
  color: #ffffff;
  cursor: pointer;
}
h3:hover {
  color: rgb(53, 169, 169);
  cursor: pointer;
}

@media screen and (min-width: 740px) {
  main {
    padding: 0 4rem 1rem 4rem;
  }
  .header-desktop-div {
    display: block;
  }
  .header-div {
    display: none;
  }
  .flex-container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .desktop-flex {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .absolute-div-2 {
    position: relative;
    bottom: 0px;
  }
  .absolute-div {
    position: relative;
    bottom: 0px;
  }
  .empty-div {
    display: none;
  }
  .desktop-flex-button {
    display: flex;
  }
  .photosnap {
    gap: 0.5rem;
  }
  .button-1 {
    font-size: 8px;
  }
  .button-2 {
    font-size: 8px;
  }
  h3 {
    font-size: 15px;
  }
  .button-div {
    gap: 7px;
  }
}
